
@{
    ViewData["Title"] = "contactUs";
      if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutAdm";
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>Contactenos</h1>

<p></p>
