@{
    ViewData["Title"] = "Terminos y condiciones";
      if (Context.User.Identity.IsAuthenticated)
    {
        Layout = "_LayoutAdm";
    }
    else
    {
        Layout = "_Layout";
    }
}
<h1>@ViewData["Title"]</h1>

<p>El Habeas Data es la facultad que tienen las personas de conocer, actualizar y rectificar las informaciones recogidas en bancos de datos y en archivos de entidades públicas y privadas, y los demás derechos, libertades y garantías constitucionales relacionadas con la recolección, tratamiento y circulación de datos personales.</p>
